<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dpfht.tmdbcleanmvi">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name="com.dpfht.tmdbcleanmvi.TheApplication"
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@drawable/ic_app_launcher"
      android:label="${appName}${appNameSuffix}"
      android:roundIcon="@drawable/ic_app_launcher"
      android:supportsRtl="true"
      android:theme="@style/Theme.TmdbMVI"
      tools:targetApi="31">
    <activity
        android:name="com.dpfht.tmdbcleanmvi.MainActivity"
        android:exported="true"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.dpfht.tmdbcleanmvi.feature_movie_trailer.MovieTrailerActivity"
        android:exported="false"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"/>
  </application>
</manifest>
